@import "../../vendor/materialize/sass/components/_color-variables.scss";
@import "../../vendor/materialize/sass/components/variables";

@import url("/assets/fonts/Casper/css/font-casper.css");

$title-font: 'Casper', sans-serif;

body {
  min-height: 100%;
  text-rendering: optimizeLegibility;
  color: $primary-color;
  font-size: 1.1em;
}

.section {
  padding-bottom: 1rem !important;
  padding-top: 1rem !important;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $title-font;
  font-weight: bold;
}

form {
  .input-field.col label.active {
    color: $secondary-color !important;
  }

  .confirm [type="checkbox"] + span.confirm-text {
    line-height: 1.2em;
  }

  .input-field.confirm {
    margin-top: 0;
  }

  input:not([type]), input[type="text"]:not(.browser-default), input[type="password"]:not(.browser-default), input[type="email"]:not(.browser-default), input[type="url"]:not(.browser-default), input[type="time"]:not(.browser-default), input[type="date"]:not(.browser-default), input[type="datetime"]:not(.browser-default), input[type="datetime-local"]:not(.browser-default), input[type="tel"]:not(.browser-default), input[type="number"]:not(.browser-default), input[type="search"]:not(.browser-default), textarea.materialize-textarea {
    border-bottom: 1px solid $primary-color-lighten;
    color: $white-color;
  }
}

h2.title {
  margin: 0.6em 0 1.3em 0;
  position: relative;
  padding: 0.6em 0 0.6em 0;
  -webkit-hyphens: manual;
      -ms-hyphens: manual;
          hyphens: manual;

  &:before {
    display: block;
    width: 80px;
    height: 1px;
    position: absolute;
    left: 50%;
    bottom: 0;
    margin: 0 0 0 -40px;
    background-color: $secondary-color;
    content: '';
  }

  & + p {
   margin: 0em 0 2em 0;
 }
}

.parallax-container {
  min-height: 570px;

  @media #{$medium-and-down} {
    .parallax {
      img {
        top: -5em;
      }
    }
  }
}

.modal {
  width: 35em;
  top: 5vh !important;

  @media #{$medium-and-down} {
    width: 86vw;
  }

  [type="checkbox"] + label::before, [type="checkbox"]:not(.filled-in) + label::after {
    width: 14px;
    height: 14px;
    top: 5px;
  }

  [type="checkbox"] + label {
    padding-left: 20px;
  }

  .modal-content {
    padding: 30px 40px 35px;

    small {
      font-size: 70%;
    }
  }

  form {
    margin-top: 2.5em;

    .input-field {
      padding-bottom: 0.75em;

      input, text {
        border-bottom-color: $primary-color-light;
        color: $primary-color;
      }
    }

    .confirm {
      margin-bottom: 2.5em;

      [type="checkbox"] + span.confirm-text {
        line-height: 1.2em;
        display: inline;
      }
    }
  }
}

/* Слайдер */
%min-height {
  min-height: 100vh;
  height: 50em !important;
}

.slider {
  @extend %min-height;

  .slides {
    @extend %min-height;

    li {
      @extend %min-height;
    }
  }

  .scroll {
   position: absolute;
   z-index: 2;
   width: 19px;
   height: 79px;
   bottom: 2em;
   left: 50%;
   margin-left: -10px;
 }

 .indicators {
   z-index: 2;
   bottom: 9em;

   .indicator-item {
    border: 1px solid $primary-color-light;
    background-color: transparent;

    &.active {
      background-color: $primary-color-light;
    }
  }
}
}

/* Меню */
.navbar {
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;
  
  nav {
   transition-property: background-color;
   transition-duration: 1.8s;
   box-shadow: none;
   &.grey.darken-4 {
    background-color: $primary-color !important;
  }

   &.shadow {
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14),0 1px 5px 0 rgba(0,0,0,0.12),0 3px 1px -2px rgba(0,0,0,0.2)
   }
 }

 #nav-mobile {
    li {
      outline: none;

      @media only screen and (max-width: 1336px) {
        &:nth-of-type(4) {
          display: none;
          width: 0;
        }
      }

      @media only screen and (max-width: 1224px) {
        &:nth-last-of-type(2) {
          display: none;
          width: 0;
        }
      }

      &:last-of-type {
        padding-left: 4em;
      }

      a {
        outline: none;

        &.active {
          background: $secondary-color;
        }
      }
    }
  }

 a.brand-logo {
    height: 64px;

    & > img {
      padding-right: 8px;
      margin-top: 0.34em;
      width: 5.8em;
    }
  }
}

#mobile-demo {
  background-color: $primary-color-dark;
  padding-top: 1em;

  li {
    .divider {
      background-color: #2a2a2a;
      margin-bottom: 1em;
    }

    a {
      color: $white-color;
      outline: none;

      &.active {
        color: $secondary-color;
      }
    }

    &:focus, &:hover {
      background-color: $secondary-color;

      a {
        color: $white-color;

        &.active {
          color: $white-color;
        }
      }
    }
  }
  
}

#sidenav-overlay {
  z-index: 2;
}

.sidenav-trigger {
  outline: none;
}

/* Раздел greeting */
.greeting {
  .row > .col {
    position: absolute;
    z-index: 2;
    top: 18em;
    left: 0;
    color: $primary-color-light;
  }

  h1 {
    font-size: 4em;
    text-align: center;
    margin: 0;
  }

  h1 ~ small {
    font-size: 1.71em;
    text-align: center;
    display: block;
    margin: 0.5em 0 0 0;
  }

  form .input-field.confirm {
    margin-top: 1em;
  }

  #send1 {
   margin-top: 8em;

   .btn {
     margin-top: 0.7em;
   }
 }
}

/* Раздел Услуги */
#services {
  .service {
   margin-top: 0;

   p {
     min-height: 80px;
   }
 }

 h2 {
   padding-top: 0.5em;
 }

 h3 {
   min-height: 60px;
   font-size: 1.8em;
   font-family: $title-font;
 }
}

#benefits, #projects, #stages, #stages {
  background: $primary-color-lighten;
}

.card-image .card-title {
  background-color: rgba(33, 33, 33, 0.75);
}
.card .card-title {
  font-size: 1.35em;
}

#services .card .card-content {
  min-height: 9em;
}

/* Раздел Преимущества */
#benefits {
  padding-bottom: 3.5em;

  .card-panel img {
    width: 3.5em;
  }
}

/* Раздел Статистика */
#statistics {
  padding: 7em 0;
  background-color: $primary-color-lighten;
  position: relative;
  z-index: 1;

  .row {
    margin-bottom: 0;
  }

  .section .container {
    display: table;
  }

  .stats {
   color: $primary-color-light;
   min-height: 18em;
   margin-bottom: 2em;

   &:nth-child(3), &:nth-child(4) {
    margin-bottom: 0;
   }

   div {
    margin: 0 auto;
   }

   img {
     height: 60px;
   }

   h4 {
    font-size: 2.5em;
    margin: 0.1em 0 0.2em 0;
  }

  p {
   font-size: 1.1em;
   margin: 0
 }
}
}

/* Раздел портфолио */
#projects {
  padding-top: 0px;

  .filter {
    margin-bottom: 1.6em;

    button {
      margin-bottom: 1em;

      &:hover {
        color: #fff;
      }
    }
 }
 .card:hover {
  cursor: pointer;
}
}

/* Раздел команда */
#team p.dark {
  margin-top: -0.5em;
  margin-bottom: 2em;
}
@media only screen and (max-width: 992px)
{
  #team .xl3 {
    &:nth-of-type(odd) {
      padding-left: 0;
    }

    &:nth-of-type(even) {
      padding-right: 0;
    }
  }
}
.member {
  text-align: center;
  margin: 0 0 40px 0;
  h5 {
    margin-bottom: 0;
  }
  img {
    width: 100%;
  }

  small {
    color: #6b6c6c;
    font-size: 1em;
    margin: 0 0 30px 0;
    display: block;
    height: 2em;
  }
  .social {
    a {
      width: 1.8em;
      height: 1.8em;
      border-radius: 15px;
      display: inline-block;
      margin: 0 1.1em 0 0;
      background: url(../img/social.png) no-repeat;
      overflow: hidden;
      text-indent: -99999px;
      min-height: 2em;
    }
    a:last-child {
     margin: 0;
   }
   a.fb {
     background-position: 0 0;
   }
   a.tw {
     background-position: -30px 0;
   }
   a.vk {
     background-position: -60px 0;
   }
   a.gp {
     background-position: -90px 0;
   }
   a.be {
     background-position: -120px 0;
   }
 }
}
/* Proposal */
#proposal {
  form {
   margin-top: 5em;

    h2 {
      margin-top: 0;
      font-size: 2.8em;
   }

   .input-field.confirm {
     margin-top: 0em;
   }
 }

 #send2 button {
   margin-top: 0.7em;
 }
}

/* Price */
#price .card-image {
  min-height: 7em;
}
#price .card-title {
  position: relative;
  background-color: inherit;
  width: 84%;
  margin: 0 auto;
  line-height: 1.5;
  padding: 2em 24px;
}
#price .collection {
  border: 0;
}
#price .collection h3 span {
  font-size: 0.6em;
  font-weight: normal;
}
#price .collection h3 i {
  font-size: 0.85em;
}
/* Reviews */

/* Stages */
#stages {
  padding-bottom: 0.5em;
}
#stages .circle {
  width: 100px;
  height: 100px;
  text-align: center;
  position: relative;
  background: #fff;
  border-radius: 50%;
  line-height: 125px;
  margin: 0 0 20px 0;

  @media only screen and (max-width: 600px) {
    margin: 0 auto;
    margin-bottom: 20px;

    & ~ p {
      text-align: center;
    }
  }
}
#stages .circle .bage {
  width: 30px;
  height: 30px;
  line-height: 25px;
  text-align: center;
  color: #9b9b9b;
  position: absolute;
  top: 5px;
  right: -5px;
  border: 2px solid $secondary-color;
  border-radius: 50%;
  background: #fff;
}
#stages .circle + p {
  color: #0d0d0e;
  font-size: 0.94em;
  margin: 0 0 70px 0;
}
#stages .finish {
  background: $secondary-color;
}
#stages .finish .bage {
  color: #fff;
  background: $secondary-color;
}

/* Partners */
#partners {
  .slick {
    margin-bottom: 4em;

    .slick-next, .slick-prev {
      top: 37%;

      &::before, &::before {
        color: $primary-color-light;
      }
    }

    .slick-slide {
      &:focus {
        outline: none;
      }
    }
  }
}
#map {
 height: 550px;
}
#contacts {
  form {
    input, textarea {
      color: #fff !important;
    }

    button[type="submit"] {
      margin-top: 0.6em;
    }

    .input-field.confirm {
      margin-top: 0em;
    }
  }
}
footer.page-footer {
  padding: 0;
}
footer .footer-copyright .container {
  max-width: 100%;
}


@media only screen and (max-width: 1601px) {
  #services .col.m6 {
    width: 50%;
  }
  .card .card-content {
    min-height: inherit;
  }
  #benefits .card-panel {
    min-height: 12em;
  }
  #price h3 {
    font-size: 2.5em;
  }
}
@media only screen and (max-width: 1516px) {
  #price h3 {
    font-size: 2em;
  }
  #price .card .card-content {
    min-height: 14em !important;
  }
}
@media only screen and (max-width: 1301px) {
  #benefits .card-panel {
    min-height: 13em;
  }
}
@media only screen and (max-width: 1314px) {
  #price h3 {
    font-size: 1.8em;
  }
}
@media only screen and (max-width: 1280px) {
  .member .social a {
    margin-right: 0.5em;
  }
  #price h3 {
    font-size: 1.7em;
  }
}
@media only screen and (min-width: 1759px) {
  #stages article.row {
    background-size: 68%;
  }
  #stages article.row .col.s12 {
    margin-top: 1.5em;
  }
}
@media only screen and (max-width: 1758px) {
  #stages article.row {
    background: url("/assets/img/stages_bg.png") no-repeat 290px 270px;
    background-size: 70%;
  }
}
@media only screen and (max-width: 1664px) {
  #stages article.row .col.s12 {
    margin-top: -1em;
  }
}
@media only screen and (max-width: 1610px) {
  #stages article.row {
    background: url("/assets/img/stages_bg.png") no-repeat 290px 270px;
    background-size: 75%;
  }
  #stages article.row .col.s12 {
    margin-top: 0em;
  }
}
@media only screen and (max-width: 1510px) {

  #stages article.row .col.s12 {
    margin-top: -0.5em;
  }
}
@media only screen and (max-width: 1445px) {
  #stages article.row {
    background-image: none;
  }
  #stages article.row .col.s12 {
    margin-top: 0;
  }
}
@media only screen and (min-width: 1601px) and (max-width: 1752px) {
  #benefits .card-panel p {
    min-height: 4.5em;
  }
}
@media only screen and (min-width: 1202px) and (max-width: 1248px) {
  #team .member .title {
    min-height: 9em;
  }
}
@media only screen and (min-width: 1250px) and (max-width: 1278px) {
  #team .member .title {
    min-height: 8em;
  }
}
@media only screen and (min-width: 1001px) and (max-width: 1201px) {
  #benefits .col.s10 {
    padding-left: 2em;
  }
}
@media only screen and (max-width: 1201px) {
  #benefits .card-panel {
    min-height: 17em;
  }
}
@media only screen and (min-width: 1520px) {
  #services .col.x6 {
    width: 25%;
  }
  #services .card .card-content {
    min-height: 11em !important;
  }
}
@media only screen and (min-width: 1201px) {
  #stages .row {
    background: url("/assets/img/stages_bg.png") no-repeat 370px 270px;
    width: 100%;
  }
}
@media only screen and (max-width: 992px) {
  #benefits .col.s2 {
    width: 11%;
  }
  #benefits .col.s10 {
    width: 89%;
  }
  #benefits .card-panel {
    min-height: inherit;
  }
}
@media only screen and (max-width: 774px) {
  #benefits .card-panel img {
    width: 2.5em;
  }
  #price .card-content h3 {
    font-size: 2.2em;
  }
}
@media only screen and (max-width: 712px) {
  #price .card-title {
    font-size: 1.3em;
    line-height: 1.5;
  }
  #proposal form .m10 {
    width: 100%;
    margin-left: 0;
  }
  #proposal form .m10 .input-field {
    margin-left: 0;
  }
  #benefits .card-panel {
    .valign-wrapper > .col.s2 {
      margin-right: 0.8em;
    }
  }
}
@media only screen and (max-width: 677px) {
  #team {
    .card-content {
      b {
        width: 67%;
        display: inline-block;
      }
    }
  }
}
@media only screen and (max-width: 684px) {
  #price .card-content h3 {
    font-size: 2em;
  }

  #price {
    .card-title {
      min-height: 5.6em;
      display: table;
      line-height: 1.5;
    }
  }
}
@media only screen and (max-width: 652px) {
  #price .card-content h3 {
    font-size: 1.8rem;
  }
  #price .card-title {
    font-size: 1.2em;
    line-height: 1.5;
  }
}

@media only screen and (min-width: 601px) {
  .greeting .row > .col {
    top: 9em;
  }
}

@media only screen and (max-width: 601px) {
  .greeting .row > .col {
    top: 5em;
  }
  .parallax-container {
    min-height: 47.5em;

    h2.title {
      margin-top: 0;
      font-size: 2.8em;
      margin-bottom: 1em;
    }
  }

  #proposal {
    form {
      margin-top: 1em;

      button {
        width: 100%;
      }
    }
  }

  #contacts {
    form {
      margin-top: -1em;

      button {
        width: 100%;
        margin-top: 0 !important;
      }
    }
  }
  .greeting #send1 {
    margin-top: 2em;
  }
  .greeting #send1 .btn {
    width: 100%;
  }
  #statistics .section {

  }
  #benefits .card-panel {
    img {
      width: 2em;
    }
  }
}
@media only screen and (max-width: 540px) {
  .slider .indicators {
    display: none;
  }
  #benefits .card-panel .valign-wrapper > .col.s2 {
      margin-right: 1.2em;
  }
  .parallax-container {
    min-height: 50.5em;
  }
}
@media only screen and (max-width: 450px) {
  .navbar .brand-logo img {
    width: 5.1em !important;
    margin-left: 0.85em;
  }
  #benefits .card-panel .valign-wrapper > .col.s2 {
      margin-right: 1.4em;
  }
}
@media only screen and (max-width: 420px) {
  .greeting h1 {
    font-size: 3.5em;
  }
  #benefits .card-panel img {
    display: none;
  }
  #benefits .card-panel .s2 {
    width: 0;
    margin-right: 0 !important;
  }
  #benefits .card-panel .s10 {
    width: 100%;
    margin-left: -1em;
    text-align: center;
    padding-left: 0;
  }
  .parallax-container {
    min-height: 54.5em;
  }
}
@media only screen and (max-width: 408px) {
  .parallax-container {
    min-height: 53em;

    h2.title {
      font-size: 2.7em;
    }
  }
}
@media only screen and (max-width: 360px) {
  .card .card-image .card-title {
    height: 100%;
    display: flex;
    align-items: center;
    line-height: 1.5;
    margin: 0 auto;
    padding-left: 30px;
    padding-right: 30px;
  }

  .parallax-container {
    min-height: 53em;

    h2.title {
      font-size: 2.5em;
    }
  }
}
